<template>
    <div class="row cate_tab_product">
    <div class="col-lg-4 col-md-6 col-sm-6" v-for="book in books">
        <div class="single_product categorie">
            <div class="product_thumb">
                <a :href="url+'/book/'+book.slug"><img :src="book.image" :alt="book.title"></a>
                <div class="product_action">
                    <ul>
                        <li><a href="#" title=" Add to Wishlist "><i class="fa fa-heart"></i></a></li>
<!--                        <li><a href="#" title=" Add to Compare "><i class="fa fa-retweet"></i></a></li>-->
                        <li><a href="javascript:void(0)" @click="addToCart(book)" data-toggle="modal" data-target="#exampleModal" title=" Add to cart "><i class="fa fa-shopping-cart"></i></a></li>
                    </ul>
                </div>
                <div class="quick_view">
                    <a href="#" data-toggle="modal" :data-target="'#modal_box_'+book.id" title="Quick view"><i class="fa fa-search"></i></a>
                </div>

            </div>
            <div class="product_content">
                <div class="samll_product_ratting">
                    <ul>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                        <li><a href="#"><i class="fa fa-star"></i></a></li>
                    </ul>
                </div>
                <div class="small_product_name">
                    <a :title="book.price" :href="url+'/book/'+book.slug">{{ book.title }} </a>
                </div>
                <div class="small_product_price">
                    <span class="new_price"> {{ 'KSH '+book.price }} </span>
                </div>


            </div>
        </div>
        <product-preview-modal :book="book" :url="url"></product-preview-modal>
    </div>
        <div class="page_numbers_toolbar">
            <ul>
                <template  v-if="all_data.prev_page_url">
                    <a href="#" @click="fetchBooks(all_data.prev_page_url)" class="btn btn-outline-info mb-2">Go Back</a>
                </template>
                <li v-for="pageNumber in all_data.last_page"
                    v-if="Math.abs(pageNumber - all_data.current_page) < 3 || pageNumber == all_data.last_page - 1 || pageNumber == 0">
                    <a href="#" @click="fetchBooks(all_data.path+'?page='+pageNumber)"
                       :class="{current: all_data.current_page === pageNumber, last: (pageNumber == all_data.last_page - 1 && Math.abs(pageNumber - all_data.current_page) > 3), first:(pageNumber == 0 && Math.abs(pageNumber - all_data.current_page) > 3)}">
                        {{ pageNumber+1 }}</a>
                </li>
                <li><a class="next_page" href="#" @click="fetchBooks(all_data.next_page_url)">next</a></li>
            </ul>
        </div>
    </div>
</template>

<script>
    import productPreviewModal from "./ProductPreviewModal";
    import { addToCartMixin } from "../addToCartMixin";

    export default {
        mixins: [ addToCartMixin ],
        name: "BookListComponent",
        props :['url'],
        data: function() {
            return {
                price: '$150.50',
                books:[],
                all_data:[]
            }
        },
        created() {
            this.price = '$200';
            const url = this.url +'/api/book-list';
            // console.log(this.carts);
            fetch(url).then(response=>response.json())
                .then(response=> {
                    this.books = response.data;
                    this.all_data = response;

                })
        },
        methods:{
            fetchBooks: function(url){
                // console.log('url is '+url);
                fetch(url).then(response=>response.json())
                    .then(resp => {
                        this.books = resp.data;
                        this.all_data = resp;
                    });
            }
        },
        components:{
            "product-preview-modal":productPreviewModal
        }
    }

</script>

<style scoped>

</style>
