<template>
    <div class="header_widget about_widget text-right" >
        <ul>
            <li class="shopping_cart" >
            <a href="#" title="View my shopping cart"><i @click="fetchBooks" class="fa fa-shopping-bag"></i></a>
            <span class="cart__quantity">{{ books_count }}</span>
            <div class="mini_cart cart_left"  v-bind:class="{ active: display }">
            <div class="cart_item" v-for="book in cartBooks">
                <div class="cart_img">
                    <a href="#"><img :src="book.image" :alt="book.title"></a>
                </div>
                <div class="cart_info">
                    <a href="#">{{ book.title }}</a>
                    <span class="cart_price">Ksh {{ book.price }}</span>
                    <span class="quantity">Qty: {{ book.quantity }}</span>
                </div>
                <div class="cart_remove">
                    <a title="Remove this item" @click="removeFromCart(book.id)" href="#"><i class="fa fa-times-circle"></i></a>
                </div>
            </div>

            <div class="cart_price_line" v-if="books_count > 0">
                <span> Total Cost </span>
                <span class="prices">  Ksh {{ total_cost }}  </span>
            </div>
            <div class="cart_button pt-20" v-if="books_count > 0">
                <a :href="checkoutUrl"> Check out</a>
            </div>
                <div class="alert alert-info" v-if="books_count == 0">
                   You have an Empty cart
                </div>
        </div>
        </li>
        </ul>
    </div>

</template>

<script>
    export default {
        name: "CartComponent",
        props: ['checkoutUrl'],
        data: function() {
            return {
             display: false,
             books_count: 0,
             total_cost: 0,
             site_url : '',
             cartBooks: []
            }
        },
        created(){
            this.cartBooks = JSON.parse(localStorage.getItem('books'));
            if (this.cartBooks)
            this.books_count = this.cartBooks.length;
            this.site_url = $('#app').data('site_url');
            console.log('site url is '+this.site_url);
        },
        methods:{
            fetchBooks: function () {
                this.display = !this.display;
                this.cartBooks = JSON.parse(localStorage.getItem('books'));
                if (this.cartBooks)
                this.books_count = this.cartBooks.length;
                if (this.books_count > 0)
                this.total_cost = this.cartBooks.reduce((acc, book) => acc+book.price,0);
                // console.log(JSON.parse(localStorage.getItem('books')));

            },
            removeFromCart:function (book_id) {

                let carts = this.cartBooks;
                let result = carts.filter(function (cart) {
                    return cart.id != book_id;
                });
                this.cartBooks = result;
                // console.log(result);
                localStorage.setItem('books',JSON.stringify(result));
                // console.log('book id is '+book_id)
            }
        }
    }
</script>

<style scoped>
  .active{
      display: block;
  }
</style>
