<template>
    <div class="order_wrapper">
        <div class="order-table table-responsive mb-30">
            <form action="#">
                <table>
                    <thead>
                    <tr>
                        <th class="product-name">Product</th>
                        <th class="product-total">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="book in cartBooks">
                        <td class="product-name"> {{ book.title }} <strong> × {{ book.quantity }}</strong></td>
                        <td class="amount"> Ksh {{ book.price }}</td>
                    </tr>

                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Cart Subtotal</th>
                        <td id="sub_total">{{ subTotal }}</td>
                    </tr>
                    <tr>
                        <th>Shipping</th>
                        <td><strong id="ship_cost">Ksh {{ shipping_cost }}</strong></td>
                    </tr>
                    <tr class="order_total">
                        <th>Order Total</th>
                        <td>Ksh <strong id="order_total">{{ subTotal }}</strong></td>
                    </tr>
                    </tfoot>
                </table>
            </form>
        </div>

        <div class="payment-method">
            <div class="order_button">
                <button @click="proceedToPayment" type="submit">Proceed to Payment</button>
            </div>
        </div>
    </div>
</template>

<script>
    import {UpdateShippingMixin} from '../mixins/UpdateShippingMixin';
    export default {
        name: "CheckoutCart",
        mixins: [ UpdateShippingMixin ],
        data: function() {
            return {
                site_url : '',
                cartBooks: []
            }
        },
        created(){
            this.cartBooks = JSON.parse(localStorage.getItem('books'));
            if (this.cartBooks)
                this.books_count = this.cartBooks.length;
            this.site_url = $('#app').data('site_url');
        },
        computed:{
            subTotal:function () {
                return this.cartBooks.reduce(function(total, book){

                    return total + (book.quantity * book.price);
                },0);
            }
        },
        methods:{

        }
    }
</script>

<style scoped>

</style>
