<template>
    <div>
        <h3>Pickup Instructions</h3>
        <div class="card mt-2" style="background-color: #faedef; margin-bottom: 20px">
            <div class="p-1" v-if="delivery_method == 1">
                <div class="row">
                    <div class="col-md-12">
                        <p><strong>Pickup Location:</strong></p>
                        <p>Nairobi CBD</p>
                    </div>

                    <div class="col-md-12">
                        <p><strong>Store hours:</strong></p>
                        <p> 9AM – 6PM Mon-Sat</p>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-6">
                            <span class="px-5 pb-2 th_column">Pickup date</span>
                        </div>
                        <div class="col-md-6 pb-2 td_column">
                            <input :min="set_date" type="date" name="pickup_date" >
                        </div>
                    </div>
                </div>
            </div>

            <div class="p-1" v-else>
             <form id="shipping_address_form">
                 <div class="row">
                     <div class="col-6 mb-10">
                         <div class="select_form_select">
                             <label for="c_country">County <span>*</span></label>
                             <select name="counties" id="c_country" style="display: none;">
                                 <template v-for="county in counties">
                                     <option :value="county.id">{{ county.name }}</option>
                                 </template>
                             </select>
                             <div class="nice-select" tabindex="0">
                                 <span class="current">Nairobi County</span>
                                 <ul class="list">
                                     <template v-for="county in counties">
                                         <li :data-value="county.id" class="option focus">{{ county.name }}</li>
                                     </template>
                                 </ul>
                             </div>
                         </div>
                     </div>

                     <div class="col-6 mb-10">
                         <label>City / Town <span>*</span></label>
                         <input name="town" placeholder="Nairobi" type="text">
                     </div>
                 </div>

                 <div class="col-12 mb-10">
                     <label>Address Line 1  <span>*</span></label>
                     <input name="address_line_1" placeholder="Riverside 14 Drive" type="text">
                     <small class="pl-3"><b>Street address, P.O. box, company name</b></small>
                 </div>

                 <div class="col-12 mb-10">
                     <label>Address Line 2 </label>
                     <input name="address_line_2" placeholder="Apartment, suite, unit, building, floor, etc." type="text">
                     <small class="pl-3"><b>Apartment, suite, unit, building, floor, etc.</b></small>
                 </div>

                 <div class="col-12 mb-10">
                     <label>Postal Code/ Zip Code  <span>*</span></label>
                     <input name="postal_address" type="text">
                 </div>

             </form>

            </div>
        </div>

        <h3>Choose delivery method</h3>
        <div class="card" style="background-color: #faedef; margin-bottom: 20px">
            <div class="col-md-12 pt-2">
                <div class="form-check">
                    <input @click="setPickDelivery" class="form-check-input" v-model="delivery_method" type="radio" id="in_store_pickup" value="1">
                    &nbsp;&nbsp;&nbsp;
                    <label @click="setPickDelivery" class="form-check-label " for="in_store_pickup">
                        In-Store Pickup
                    </label>
                </div>
            </div>
            <input type="hidden" name="delivery" value="1">
            <div class="col-md-12">
                <div class="form-check">
                    <input @click="setDelivery" class="form-check-input" v-model="delivery_method" type="radio"  id="shipping" value="2" >
                    &nbsp;&nbsp;&nbsp;
                    <label @click="setDelivery" class="form-check-label" for="shipping">
                        Shipping to Kenya(5 days) <b>Ksh 400</b>
                    </label>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import {UpdateShippingMixin} from '../mixins/UpdateShippingMixin';
    export default {
        name: "DeliveryComponent",
        mixins: [ UpdateShippingMixin ],
        data: function() {
            return {
                counties:[],
                delivery_method:1,
                set_date:new Date().toJSON().split('T')[0]
            }
        },
        created(){
            const site_url = $('#app').data('site_url');
            const url = site_url+'/api/counties';
            fetch(url).then(response=>response.json())
                .then(response=>{
                    this.counties = response;
                    // console.log(response);
                });
            console.log('Date is '+new Date().toJSON().split('T')[0])
        },
        methods:{
            setDelivery:function () {
                this.delivery_method = 2;
                $('input[name="delivery"]').val(2);
                $('#ship_cost').text(' Ksh 400');
                let number = parseFloat($('#sub_total').text());
                let total = number +400;
                $('#order_total').text(total);
                // console.log()
            },
            setPickDelivery:function () {
                this.delivery_method = 1;
                $('input[name="delivery"]').val(1);
                $('#ship_cost').text(' Ksh 0');
                $('#order_total').text($('#sub_total').text());
            }
        }
    }
</script>

<style scoped>

</style>
