<template>
    <div class="col-md-12 ">
        <div class="alert alert-info" v-if="cartBooks.length == 0">
            Your Book Basket is Empty
        </div>
        <div class="row hide_title" v-if="cartBooks.length > 0">
            <div class="col-sm-5">
                <h2 class="h4">Books to buy </h2>
            </div>
            <div class="col-sm-2">
                <p class="text-center h4">Price</p>
            </div>

            <div class="col-sm-3">
                <p class="h4 text-center">Quantity</p>
            </div>

            <div class="col-sm-2">
                <p class="h4 align-left">Sub-total</p>
            </div>

        </div>

        <div class="books_basket" v-for="book in cartBooks">
            <div class="row p-2">
                <div class="col-sm-2 ">
                    <a href="#"><img :src="book.image" height="80" :alt="book.title"></a>
                </div>
                <div class="col-sm-4">
                    <h4>{{ book.title }}</h4>
                    <div class="remove col-xs-12">
                        <a href="#" @click="removeBookFromCart(book.id)" style="color:red" class="btn btn-sm remove-button"><i class="fa fa-times-circle"></i> Remove</a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <span><h6 class="cart_book_price">KES {{ book.price }}</h6></span>
                </div>
                <div class="col-sm-2">
                    <input min="0" max="100" name="book_count"  @click="calculateCost(book,$event)" value="1" type="number">
                </div>

                <div class="col-sm-2">
                    <span :id="'cart_book_id_'+book.id" class="sub-total" :data-price="book.price">KES {{  book.price  }}</span>
                </div>
            </div>
        </div>

        <div class="coupon_code_area pt-3" v-if="cartBooks.length > 0">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="coupon_code coupon">
<!--                        {{&#45;&#45;                                <h3>Coupon</h3>&#45;&#45;}}-->
<!--                        {{&#45;&#45;                                <div class="coupon_code_inner">&#45;&#45;}}-->
<!--                        {{&#45;&#45;                                    <p>Enter your coupon code if you have one.</p>&#45;&#45;}}-->
<!--                        {{&#45;&#45;                                    <input placeholder="Coupon code" type="text">&#45;&#45;}}-->
<!--                        {{&#45;&#45;                                    <button type="submit">Apply coupon</button>&#45;&#45;}}-->
<!--                        {{&#45;&#45;                                </div>&#45;&#45;}}-->
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="coupon_code">
                        <h3>Cart Totals</h3>
                        <div class="cart_total_amount">

                            <div class="cart_subtotal order">
                                <p class="order_total">Total</p>
                                <p class="order_amount">Ksh {{ totalCost}}</p>
                            </div>
                            <div class="cart_to_checkout">
                                <a @click="updateBooks" href="#">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--coupon code area end-->
    </div>
</template>

<script>
    export default {
        name: "PreviewCartComponent",
        props: ['checkoutUrl'],
        data: function() {
            return {
                total_cost: 0,
                sub_price: 0,
                site_url : '',
                book_count: [],
                books_price: [],
                cartBooks: []
            }
        },
        created(){
            this.cartBooks = JSON.parse(localStorage.getItem('books'));
            if (this.cartBooks)
                this.books_count = this.cartBooks.length;
            this.site_url = $('#app').data('site_url');
        },
        computed:{
            totalCost:function () {
                return this.cartBooks.reduce(function(total, book){

                    return total + (book.quantity * book.price);
                },0);
            }
        },
        methods:{
            calculateCost:function (book,event) {
                // console.log('book count is '+book, event.target.value);
                // console.log(this.cartBooks);
                let c = event.target.value;
                let cost =c * book.price;
                $('#cart_book_id_'+book.id).text(cost.toFixed(2));
               let b_index = this.cartBooks.findIndex((obj => obj.id == book.id));
                this.cartBooks[b_index].quantity = c;
                // console.log("Book Index is "+b_index);
            },
            removeBookFromCart:function (book_id) {
                let carts = this.cartBooks;
                let result = carts.filter(function (cart) {
                    return cart.id != book_id;
                });
                this.cartBooks = result;
                localStorage.setItem('books',JSON.stringify(result));
            },
            updateBooks:function (){
                localStorage.setItem('books',JSON.stringify(this.cartBooks));
                window.location.href = this.site_url+'/checkout';
            }
        }
    }
</script>

<style scoped>
.cart_book_price{
    font-weight: 600;
    color: green !important;
    font-size:20px
}
</style>
